#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.clock {
  font-size: 3em;
  font-weight: bold;
}

.clockContainer {
  box-shadow: 1px 1px 3px #525252;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}